
/* __ common content __ */



/* loading */
.loading_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  animation: fadeOut 10s infinite linear;
}
.loading_title {
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}
.loading_logo {
  width: 40%;
  height: auto;
  margin-bottom: 24px;
  @media (min-width: 1024px) {
    width: 20%;
    height: auto;
  }
}
@keyframes fadeOut {
  from { opacity: 1; }
}

/* 全体アニメーション */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

/* 共通パーツ */

.normal_link { transition: .3s; }
.normal_btn { 
  
}
.normal_btn:hover{ 
  color:#fff;
  background: var(--color_line);
}
.contact_title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family:  "Krona One", serif;
  letter-spacing: 0.10rem;
}


/* ===== Home Block ===== */
.home {
  position: relative;
  padding: 40px 32px 60px;
  margin-bottom: 80px;
  overflow: hidden;
  background-color: var(--color_main);
  @media (min-width: 1024px) { 
    padding: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  
  &___slider {
    height: 90vh;
    margin: 0 auto;
    mask-image: url(./images/mask_img_sp.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    @media (min-width: 1024px) {
      width: 80%;
      mask-image:url(./images/mask_img_pc.svg);
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-size: 80% 100%;
    }
  }
}

/* .splide__slide {
  height: 80vh;
  @media (min-width: 1024px) {height: 90vh;}
}
.splide__slide img { object-fit: cover; } */

/* 
.viewport {
  position: relative;
  padding: 40px 32px 60px;
  margin-bottom: 80px;
  overflow: hidden;
  background-color: var(--color_main);
  @media (min-width: 1024px) { 
    padding: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .splide__slide {
    height: 80vh;
    @media (min-width: 1024px) {height: 90vh;}
  }
  .splide__slide img { object-fit: cover; }

  .viewport_innner {
    height: 90vh;
    margin: 0 auto;
    mask-image: url(./images/mask_img_sp.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    @media (min-width: 1024px) {
      width: 80%;
      mask-image:url(./images/mask_img_pc.svg);
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-size: 80% 100%;
    }
  }
  .viewport_title {
    @media (min-width: 1024px) { width: 20%; }
  }
  .sub_title,
  .title {
    font-family: "Krona One", sans-serif;
    width: fit-content;
    font-weight: 700;
    letter-spacing: 0.3rem;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 100;
    white-space: nowrap;
  }
  .title {
    bottom: 10%;
    display: flex;
    gap: 4px;
    overflow: hidden;
    @media (min-width: 1024px) {
      position: static !important;
      margin-top: 80px;
      font-size: 2.0rem;
    }
  }
  .parts {
    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 4s ease infinite normal;
    animation-delay: calc(var(--index) * 0.1s);
  }
  .sub_title {
    font-size: 0.8rem;
    bottom: 8%;
    @media (min-width: 1024px) {
      position: static;
      font-size: 1.2rem;
      margin-top: 12px;
    }
  }

} */



/* about section */
.about_section {
  margin-bottom: 80px;
  @media (min-width: 1024px) {
    padding: 0 80px;
    margin-bottom: 120px;
  }
  .about_title {
    padding: 0 16px;
    margin-bottom: 40px;
  }
  .about_content { 
    margin-bottom: 4px; 
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px;
    }
  }
  .about_pic {
    width: 100%;
    height: auto;
    padding: 24px 16px;
    @media (min-width: 1024px) {
      width: 50%;
      height: auto;
    }
  }
  .about_text {
    width: 100%;
    padding: 0 16px 24px;
    @media (min-width: 1024px) {
      width: 50%;
      padding: 0 40px;
    }
    .about_name {
      font-size: 1.4rem;
      margin-bottom: 4px;
      text-align: center;
      @media (min-width: 1024px) {
        font-size: 1.8rem;
        margin-bottom: 12px;
      }
    }
    .about_decoration {
      color: var(--color_main);
      font-family:  "Krona One", serif;
      font-size: 0.7rem;
      margin-bottom: 28px;
      text-align: center;
    }
    .about_introduction {
      width: 100%;
      text-align: left;
      margin: 0 auto;
      line-height: 1.4;
      padding-bottom: 8px;
    }
  }
  .about_button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* works section */
.works_section {
  background-color: #ffffff;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  background-image: 
    linear-gradient(90deg, #f7f7f7 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 80px 0px;
  @media (min-width: 1024px) { padding: 80px 0; }
  .works_title {
    text-align: center;
    margin-bottom: 40px;
  }
  .works_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    @media (min-width: 1024px) { margin: 0 80px; }
  }
  .works_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 14px;
    @media (min-width: 1024px) { 
      width: 49%; 
      margin: 0 0.5% 20px;
    }
    .works_list_link {
      max-height: 540px;
      @media (min-width: 1024px) { margin: 0px; }
    }
    .works_list_pic img:hover {
      transform: scale(1.1);
    }
    .works_list_pic {
      width: 100%;
      height: 100%;
      max-height: 480px;
      margin: 0 auto 8px;
      overflow: hidden;
      border-radius: 200px 200px 0 0;
      transition: transform .6s ease;
    }
    .works_list_pic img{
      width: 100%;
      height: 100%;
      aspect-ratio: 5 / 4;
      object-fit: cover;
      transition: transform .6s ease;
    }
    .works_list_content {
      height: 10%;
      .works_list_title {
        font-size: 1.3rem;
        margin-bottom: 4px;
      }
      .works_list_decoration {
        color: var(--color_main);
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 14px;
      }
      .works_list_text { margin-bottom: 24px; }
    }
  }
  .works_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}

/* about page */
.section {
  margin-bottom: 0;
  padding-top: 60px;
  @media (min-width: 1024px) {
    padding: 80px 0 0;
  }
  .about_header {  
    padding: 40px 16px 0; 
    border-top: 1px solid var(--color_line);
    @media (min-width: 1024px) { padding: 60px 80px 0; }
  }
  .about_content {
    margin-bottom: 0;
    @media (min-width: 1024px) { padding: 60px 80px; }
    .about_text { padding-bottom: 0; }
  }
  .about_second_content,
  .about_third_content {
    .about_title {
      padding: 0;
      font-family:  "Krona One", serif;
      font-size: 1.7rem;
      letter-spacing: 0.10rem;
      margin-bottom: 32px;
      font-weight: 600;
      @media (min-width: 1024px) { margin-bottom: 40px; }
    }
  }
  .about_second_content {
    padding: 60px 16px;
    @media (min-width: 1024px) { padding: 80px 80px 120px; }
    dl {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      line-height: 1.2;
      margin: 0 auto 12px;
      @media (min-width: 1024px) {
        padding: 8px 12px;
        margin-bottom: 0;
        border-left: 1px solid var(--color_line);
      }
    }
    dt {
      width: 85%;
      font-weight: normal;
    }
    dd { 
      width: 15%; 
      @media (min-width: 1024px) { width: 8%;  }
    }
  }
  .about_third_content {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    background-image: 
      linear-gradient(90deg, #f7f7f7 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 60px 16px 80px;
    @media (min-width: 1024px) { padding: 80px; }
    .about_skill_list {
      @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
      }
    }
    .about_skill_list li {
      padding: 32px 0;
      border-bottom: 1px solid var(--color_line);
      @media (min-width: 1024px) {
        width: 45%;
        padding: 0;
        border-bottom: none;
      }
    }
    .about_skill_lists {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
      @media (min-width: 1024px) { 
        border-bottom: 1px solid var(--color_line);
        padding-bottom: 8px;
      }
    }
    .about_skill_list:first-of-type {
      border-top: 1px solid var(--color_line);
      @media (min-width: 1024px) { border-top: none; }
    }
    .about_skill_title { 
      font-size: 1.4rem; 
      font-weight: 200;
      margin-right: 12px;
    }
    .about_skill_category { color: #cac4c4; }
    .about_skill_summary { 
      line-height: 1.5;
      @media (min-width: 1024px) { font-size: 1.1rem; }
    }
  }
}

/* workDetail page */
.works_section {
  margin: 60px 0 0;
  .works_header {  padding: 0px 16px 32px; }
  .contact_title { text-align: center; }
  @media (min-width: 1024px) { 
    padding: 60px 0; 
    margin-top: 80px;
  }
}
.work_detail_section {
  padding-top: 40px;
  @media (min-width: 1024px) { padding: 80px 0; }

  .work_detail_header {
    padding: 24px 16px;
    margin-top: 20px;
    border-top: 1px solid var(--color_line);
    @media (min-width: 1024px) { 
      padding: 60px 80px; 
      margin-top: 0;
    }
    h2 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 12px;
      a { 
        line-height: 1.4;
        text-decoration: underline; 
        display: flex;
        align-items: flex-start;
        div {
          display: block;
          width: 12px;
          height: 25px;
          margin-left: 8px;
          img {
            filter: invert(100%) sepia(1%) saturate(997%) hue-rotate(334deg) brightness(114%) contrast(79%);
          }
        }
      }
    }
    p { line-height: 1.4; }
  }
  .work_detail_container {
    padding: 0;
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .left_contnt {
    .sp_img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      @media (min-width: 1024px) { display: none; }
      img { margin-bottom: 0px; }
    }
    .pc_img {
      display: none;
      @media (min-width: 1024px) { 
        width: 100%;
        display: flex; 
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 73px;
        /* padding-top: 40px; */
        img { 
          border: 1px solid #ddd;
          border-radius: 4px;
        }
        a { margin: 0 12px 0 0; }
        a:first-child { width: 70%; }
        a:last-child { width: 30%; }
      }
      a.full_width { width: 100%;}
    }
    @media (min-width: 1024px) { width: 60%; }
  }
  .right_contnt {
    background-color: #fff;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    background-image: 
      linear-gradient(90deg, #f7f7f7 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 60px 16px;
    @media (min-width: 1024px) {
      width: 40%;
      height: 100vh;
      padding: 60px 40px 0;
      position: sticky;
      top: 80px;
      margin-right: 80px;
      overflow-y: auto;
    }
    .basic-text-inner {
      li { 
        margin-bottom: 40px;
        @media (min-width: 1024px) { margin-bottom: 80px; }
      }
      li:last-of-type { margin-bottom: 0px; }
      .catchCopy {
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0.02rem;
        margin: 0 0 50px;
      }
      .purpose { margin-bottom: 32px; }
      .works_introduction { margin-bottom: 12px; }
      .purpose,
      .works_introduction {
        line-height: 1.5;
        @media (min-width: 1024px) {
          font-size: 1.1rem;
        }
      }
      .detail { margin-top: 60px;}
      dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px solid var(--color_line);
      }
      dt {
        width: 30%;
        font-weight: 500;
        padding: 24px 0 24px 8px;
        border-bottom: 1px solid var(--color_line);
      }
      dd {
        width: 70%;
        padding: 24px 0;
        border-bottom: 1px solid var(--color_line);
      }
      .sp_img {
        width: 100%;
        display: flex; 
        justify-content: flex-start;
        align-items: flex-start;
        img { padding: 0 7px;}
        img:first-child { width: 70%; }
        img:last-child { width: 30%; }
        @media (min-width: 1024px) {
          display: none;
        }
      }
      .full_width img { width: 100% !important; }
    }
  }
}